@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  
}

.hzOqrn {
  font-family: 'Ubuntu' , cursive !important;
}
.comma {
  font-family: 'Karla' , cursive !important;
}
.anFjc {
  font-family: 'Ubuntu' , cursive !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
